.div-input {
  padding-top: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
}
  
.input {
  width: 200px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #4d0941;
  border-radius: 4px;
  text-align: center;
}