/* Form */

::-webkit-input-placeholder { /* Edge */
    color: #bbb;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
}

::placeholder {
    color: #bbb;
}

.field {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.field {
    min-width: 100%;
    min-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    /* resize: none; remove o resize do textarea */
}

.field:focus { 
    border-color: #0f7afd;
}