/* Section */

.container {
    max-width: 980px; 
    margin: 0 auto;   /* top e bottom = 0, left e right = auto */
    padding-left: 15px;  
    padding-right: 15px;  
    box-sizing: border-box;
}


.menu-ancora {
    padding-top: 80px;
}

@media (max-width: 600px) {
    section {
        padding-top: 30px;
        padding-bottom: 30px; 
    }
}

.row {
    /*margin: 0 -15px;*/ /*margem negativa para corrigir problema de padding ficar com 30px */
    margin: 0;
}

.row:before, /*row com clearfix*/
.row::after {
    content: '';
    display: table;
    clear: both;
}

.article-image {
    /* margin: 10px 15px 10px 0; */
    border-radius: 10px;
    background: #f8f5f5;
    box-sizing: border-box;
}

.titulo-menu-ancora {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col {
    padding: 0 15px;  /*espaçamento entre as colunas*/
    float: left;      /*para colunas ficarem uma ao lado da outra*/
    box-sizing: border-box;  /*padding comprime e não interfere no tamanho*/
}

.col-sm-25 {
    width: 25%;
}

.col-sm-33 {
    width: 33%;
}

.col-sm-50 {
    width: 50%;
}

.col-sm-75 {
    width: 75%;
}

.col-sm-100 {
    width: 100%;
}

@media (min-width: 480px) {
    .col-md-25 {
        width: 25%;
    }

    .col-md-33 {
        width: 33%;
    }    
    
    .col-md-50 {
        width: 50%;
    }
    
    .col-md-75 {
        width: 75%;
    }
    
    .col-md-100 {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .col-lg-25 {
        width: 25%;
    }
    
    .col-lg-33 {
        width: 33%;
    }
        
    .col-lg-50 {
        width: 50%;
    }
    
    .col-lg-75 {
        width: 75%;
    }
    
    .col-lg-100 {
        width: 100%;
    }
}

.hide {
    display: none;
}

@media (max-width: 479px) {
    .show-on-sm {
        display: block;
    }    
}

@media (max-width: 480px) and (max-width: 899px) {
    .show-on-md {
        display: block;
    }    
}

@media (max-width: 900px) {
    .show-on-lg {
        display: block;
    }    
}
