body {
    font-family: Arial, Helvetica, sans-serif
}

.container {
    max-width: 980px; 
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 15px;  
    padding-right: 15px;  
    box-sizing: border-box;
    opacity: 1;
}

.logo {
    margin: 0 100px;
}

.imagem {
    position: absolute;
    top: 220px;
    left: 28%;
}

.button-estou-com-sorte {
    transform: translate(184px, -162px);
    display: inline-block;
    margin: 0;
    padding: 20px 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    background: transparent;
    cursor: pointer;
    outline: none;
    text-align: center;
    box-sizing: border-box;
}

.pokemon {
    position: absolute;
    top: 172px;
    left: 36%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    text-transform: capitalize;
}

.texto-alerta-esquerda {
    padding: 0;
    position: absolute;
    top: 235px;
    left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}

.texto-esquerda {
    padding: 0;
    position: absolute;
    top: 220px;
    left: 36%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
}

.texto-direita {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 215px;
    left: 56.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: white;
    box-sizing: border-box;
    text-transform: capitalize;
}

.multicolumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    width: 250px;
    height: 80px;
    box-sizing: border-box;
}
 
.multicolumn li {
    list-style: none;
}

.label-pesquisa {
    transform: translate(309px, -470px);
    display: block;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;    
}

.input-nro-pokemon {
    transform: translate(308px, -468px);
    display: block;
    width: 10%;
    max-width: 10%;
    padding: 5px 12px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 6px;
    outline: none;
}

.input-nro-pokemon[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
}
.input-nro-pokemon[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}


