
header {
    /* padding-top: 60px;
    padding-bottom: 30px; */
    padding: 30px 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0 0;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
}

 li {
    padding: 0 0;
    margin: 0;
    } 

p {
    margin: 10px 0;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

/* Classes */

.logo {
    width: 300px;
    margin: 0 100px;
}

.container {
    max-width: 980px; 
    margin: 0 auto;   /* top e bottom = 0, left e right = auto */
    padding-left: 15px;  
    padding-right: 15px;  
    box-sizing: border-box;
    opacity: 1;
}

.section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    /* box-sizing: border-box; */
}

.input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    /* box-sizing: border-box; */
}

.text-center {
    text-align: center;
}

.imagem {
    /* display: inline-block; */
    border:4px solid #999;
    border-color: red;
}

.article-list {
    /* padding: 60px 0 0;
    margin: 60px 0 0;
    border-top: 1px dashed #aaa; */
    list-style: none;
}

.article-list li {
    /* margin-bottom: 30px; */
    box-sizing: border-box;
}

.article-list article {
    padding: 10px;
    border-radius: 4px;
    box-shadow:  0 0 12px rgba(0, 0, 0, 0.2);
    background: #fff;
    transition: transform 0.3s ease-in-out 0s;
    box-sizing: border-box;
}

/* .article-list article:hover {
    transform: scale(1.05);
} */

/* .article-list h4 {
    box-sizing: border-box;
} */

@media (min-width: 480px) {
    .article-list p {
        min-height: 100px;
    }
}
@media (min-width: 900px) {
    .article-list p {
        min-height: 110px;
    }
}