/* Button */

.button {
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16opx;
    color: #FFF;
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    outline: none;
    box-sizing: border-box; /* para não ultrapassar o limite */
}

.button:hover {
    transform: scale(1.1)
}

.button-red {
    background: #ae3434;
}

.button-red:hover {
    background: #962c2c;
}

.button-red:active {
    background: #e03636;
}

@media (max-width: 480px) {
    .button {
        display: block;
        width: 100%;
    }
}