body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0 5px;
}

.container {
    max-width: 980px; 
    margin: 0 auto;
    padding-top: 0px;
    padding-left: 15px;  
    padding-right: 15px;  
    box-sizing: border-box;
    opacity: 1;
}

.div-dadosPokemon {
    width: 450px;
    height: 300px;
    margin: 0 115px;
    /* background-color: #02A8C7; */
    text-align: center;
    display: none;
}

.logo {
    margin: 0 100px;
}

.button-estou-com-sorte {
    /* transform: translate(750px, -14px); */
    transform: translate(450px, -14px);
    display: inline-block;
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* background: transparent; */
    background: rgba(17, 150, 4, 0.795);
    /* color: #FFF;*/
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    box-sizing: border-box; /* para não ultrapassar o limite */
}

.button-fechar-pokedex {
    /* transform: translate(750px, -14px); */
    transform: translate(450px, -14px);
    display: inline-block;
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* background: transparent; */
    background: #C0121C;
    /* color: #FFF;*/
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    box-sizing: border-box; /* para não ultrapassar o limite */
}

.input-nro-pokemon {
    /* transform: translate(620px, 30px); */
    transform: translate(350px, 30px);
    display: block;
    width: 5%;
    max-width: 5%;
    padding: 5px 12px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 6px;
    outline: none;
    /* box-sizing: border-box; */
}

.input-nro-pokemon[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input-nro-pokemon[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

.pokemon {
    /* position: absolute;
    top: 172px;
    left: 36%; */
    margin: 0;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
}

.multicolumn {
    margin: 10px 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    width: 100%;
    height: 80px;
    text-align: justify;
    box-sizing: border-box;
}
 
.multicolumn li {
    list-style: none;
}


