/* Banner */

.banner {
    position: relative;
    color: #FFF;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    background: url('../img/banner.jpg') no-repeat center bottom / cover;
}

/*
.banner:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    background: -moz-linear-gradient(-45deg,  #31a104 0%, #da0808 100%);
    background: -webkit-linear-gradient(-45deg,  #31a104 0%,#da0808 100%);
    background: linear-gradient(135deg,  #31a104 0%,#da0808 100%); 
}*/

/*
.banner-quemsomos:before {
    background: -moz-linear-gradient(-45deg,  #34ae49 0%, #0f7afd  100%);
    background: -webkit-linear-gradient(-45deg,  #34ae49 0%, #0f7afd 100%);
    background: linear-gradient(135deg,  #34ae49 0%, #0f7afd 100%);
}*/

.banner .container {
    height: calc(100vh - 70px); /* 100 view port(toda área do browser) - 70 do cabeçalho*/
    position: relative;
    z-index: 2;
}

.banner h1 {
    margin-bottom: 30px;
    font-size: 52px;
    line-height: 52px;
    text-transform: uppercase;
}

.banner p {
    font-size: 22px;
    line-height: 28px;
}

@media (max-width: 600px) {
    .banner h1 {
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 25px;
    }

    .banner p {
        font-size: 12px;
        line-height: 14px;
    }

    .banner br {
        display: none; /* esconder o br que não é necessário no responsivo*/
    }
}