/* Button */

.button {
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16opx;
    color: #FFF;
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box; /* para não ultrapassar o limite */
}

.button:hover {
    transform: scale(1.1)
}

.button-green {
    background: #34ae49;
}

.button-green:hover {
    background: #2c963e;
}

.button-green:active {
    background: #74e036;
}

@media (max-width: 480px) {
    .button {
        display: block;
        width: 100%;
    }
}