/* Button */

.button {
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16opx;
    color: #FFF;
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
}

.button-center {
    margin: 0 0 0 50px;
}

.button:hover {
    transform: scale(1.1)
}

.button-blue {
    background: #0f7afd;
}

.button-blue:hover {
    background: #005bca;
}

.button-blue:active {
    background: #0fcdfd;
}

.button-green {
    background: #34ae49;
}

.button-green:hover {
    background: #2c963e;
}

.button-green:active {
    background: #74e036;
}
