/* Form */
label {
    font-size: 16px;
    line-height: 24px;
}

.input {
    width: 400px;
    height:20px;
    border-radius: 10px;
    outline: none;

}

input:focus {
    background-color: #005bca31;
}

input:hover {
    background: #005bca31;
}

.input-msg {
    width: 400px;
    height:80px;
    border-radius: 10px;
    outline: none;

}

.button-form {
    padding-right: 50px;
    padding-top: 10px;
}