/* Section */

.container {
    width: 980px; 
    margin: 0 auto;   /* top e bottom = 0, left e right = auto */
    padding-left: 15px;  
    padding-right: 15px;  
    box-sizing: border-box;
}

section {
    padding-top: 60px;
    padding-bottom: 60px; 
}

.row {
    margin: 0 -15px; /*margem negativa para corrigir problema de padding ficar com 30px */
}

.row:before, /*row com clearfix*/
.row::after {
    content: '';
    display: table;
    clear: both;
}

.row-padding-bottom {
    padding-bottom: 50px;
}

.row-padding-top {
    padding-top: 50px;
}

.col {
    padding: 0 15px;  /*espaçamento entre as colunas*/
    float: left;      /*para colunas ficarem uma ao lado da outra*/
    box-sizing: border-box;  /*padding comprime e não interfere no tamanho*/
}

.col-padding-bottom {
    padding-bottom: 50px;
}
.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-100 {
    width: 100%;
}

.article-image {
    margin: 0 15px 10px 0;
}

.article-image-center {
    margin: 0 0 0 70px;
}