body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

hr {
  margin: 0;
}

.App {
  text-align: justify;
}

.App-link {
  color: #61dafb;
}

.font-white {
  color: white;
}
