/* cabecalho */

.logo {
  height: 100px;
}

.header {
  text-align: center;
  background-color: black;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.button-cabecalho {
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16opx;
  background-color: white;
  color: black;
  transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
  cursor: pointer;
  text-align: center;
  outline: none;
  text-decoration:none; 
  box-sizing: border-box;
}

.button-cabecalho:hover {
    transform: scale(1.05)
}