/* Home */

.logo {
  height: 100px;
}

/* .div-home {
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.div-home:hover {
    transform: scale(1.05)
} */

.font-white {
    color: white;
}
