body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

hr {
  margin: 0;
}

.input {
  display: block;
  border: 1px solid #999;
  border-radius: 4px;
  height: 30px;
  outline: none;
  box-sizing: border-box;
}

.div-button {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}

.button-kflix {
  display: inline-block;
  margin: 7px 2px;
  padding: 10px 5px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  cursor: pointer;
  outline: none;
  text-align: center;
  box-sizing: border-box;
}

.dados {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
  color: black;
}

.dados article {
  background:#ddd;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.dados article p {
  font-size: 16px;
  /* color: #999; */
  margin-top: 5px;
  line-height: 24px;
}

.dados article img {
  margin: 20px 30px;
  max-width: 600px;
  border-radius: 5px;
}

.dados article a {
  height: 42px;
  border-radius: 5px;
  /* border: 1px solid red; */
  border: none;
  background: black;
  margin-top: 10px;
  color: #DB202B;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s
}

.dados article a:hover {
  color: red;
  /* opacity: 0.8; */
}