/* MensagemFlash */

#verde {
  background-color: green; 
}

#vermelho {
  background-color: red;
}

.fading {
  animation:fading 3s infinite
}

@keyframes fading {
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}
}
