.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
  color: white;
  /* background: url("./img/black-mirror.jpg") */
}

h1,
h2,
h3,
h4 {
  margin: 0 10px;
}

.imagem {
  border-radius: 10px;
}

.button-reactvemser {
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16opx;
  background-color: white;
  color: black;
  transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
  cursor: pointer;
  text-align: center;
  outline: none;
  box-sizing: border-box;
}

.button-reactvemser:hover {
  transform: scale(1.05)
}

.notaInserida {
  color: green;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
