/* Finlândia */ 


header div,
footer div {
    background: blue;
    margin-left: 15%;
    margin-right: 75%;
    background: blue;
    color: blue;
}

section {
    padding: 50px 0;
    background: blue;
}   

