/* Grécia */ 

.linha1 {
    width: 120px;
    height: 110px;
    background: blue;
}

.linha1-1 {
    margin: 0px 200px;
    width: 120px;
    height: 110px;
    background: blue;
}

.linha1-2 {
    margin: 0px 120px;
    width: 1020px;
    height: 70px;
    background: blue;
}

.linha2 {
    margin: 50px 0;
    width: 120px;
    height: 110px;
    background: blue;
}

.linha2-1 {
    margin: 50px 200px;
    width: 120px;
    height: 110px;
    background: blue;
}

.linha2-2 {
    margin: 50px 200px;
    width: 935px;
    height: 110px;
    background: blue;
}

.linha3 {
    margin: 50px 0;
    width: 100%;
    height: 110px;
    background: blue;
}

.linha4 {
    margin: 50px 0;
    width: 100%;
    height: 110px;
    background: blue;
}