/* Japão */ 


header {
    padding: 110px 0px;
}

section {
    padding: 7% 2%;
    margin-left: 40%;
    margin-right: 45%;
    border-radius: 50%;
    text-align: center;
/*     background-size: contain;*/
    background: red;
}

footer {
    padding: 100px 0px;
}