/* Libano */ 

.listra-vermelha {
    /*padding: 60px 0;*/
    width: 1350px;
    height: 120px;
    background: red;
}   

section {
    padding: 200px 0;
    background: url(arvore.png) no-repeat center;
    text-align: center;
    width: auto;
    height: auto;
    background-size: contain;

}