.App {
  text-align: center;
}

.fundo-roxo {
  background-color: #4d0941;
}

.logo {
  height: 100px;
  pointer-events: none;
}

.lista {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.lista article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-color: #4d0941;
  padding: 20px;
  margin-bottom: 20px;
}

.lista p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

.lista a, button {
  height: 42px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #4d0941;
  background: #4d0941;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista a:hover {
  background: #fff;
  color: #4d0941;
}

.lista button:hover {
  background: #fff;
  color: #4d0941;
}

.menu-principal {
  width: 100%;
  height: 50px;
  background-color: #4d0941;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-principal a {
  text-decoration: none;
  color: #fff;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px;
}

.menu-principal a:hover {
  background: #fff;
  color: #4d0941;
}

.login {
  /* margin-bottom: 20px; */
  width: 100%;
  height: 50px;
  background-color: #4d0941;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-login {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 15px;
  background-color: #4d0941;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.button-login:hover {
  border: 1px solid #4d0941;
  background: #fff;
  color: #4d0941;
}

.input-login {
  width: 200px;
  height: 22px;
  margin-bottom: 10px;
  border: solid 1px #4d0941;
  border-radius: 4px;
  text-align: center;
}

.div-login {
  padding: 10px 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}